:root {
  /* background-color: #FEFBF6; */
  font-size: 62.5%;
}
body{
  height: 100vh;
  background: linear-gradient(to bottom, #7743DB 60%, #FEFBF6 40%);
  
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  font-family: cursive;
}


h1 {
  font-family: cursive;
  
  font-size: 5.4rem;
  color: #FCFDF2;;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}


h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}
.container2{
  position: absolute;
  width: 30%;
  min-width: 80px;
  transform: translate(-50%,-50%);
  top: 30%;
  left: 50%;
  background-color: #FEFBF6;
  padding: 50px 10px;
  border-radius: 5px;
  display: grid; 
  justify-items: center;
  font-family: 'Poppins',sans-serif;
  display: contents;
  
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}


/* BUTTONS */
.btn {
  font-family: cursive;
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #7743DB;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #7743DB;
  background-color: white;
}

.btn:hover {
  background-color: #3B3486;
  color: #FCFDF2;
  cursor: pointer;
  box-shadow: 0 0.7rem 1.7rem 0 rgba(161, 86, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
#contact{
  border: 0.1rem solid #f3f2f4;
  font-size: 1.5rem;
  position: absolute;
  top: 90%;
  width: 80rem;
  border-radius: 20px;
}
#contact:hover{
  background-color: #4C4C4C;
  color: #FCFDF2;
  cursor: pointer;
  box-shadow: 0 0.7rem 1.7rem 0 rgba(44, 39, 49, 0.629);
  transform: translateY(-0.1rem);
  transition: transform 150ms;

}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 22px;
  margin-bottom: 1rem;
  width: 32rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(161, 86, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}